<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>E-Profit Inbound - Full Service Social Media Marketing Agency</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
    </head>
    <body>
        <div class="main-nav">
            <ul class="nav">
                <li class="name toplogo"><a href="#"><img src="../static/images/logo.png" alt="E-Profit Inbound logo" width="50%"></a></li>
                <li id="tophome"><a href="#">Home</a></li>
                <li id="topagency"><a href="#">Agency Services</a></li>
            </ul>
        </div>
        <header>
            <h1 class="headline">Let Us SKYROCKET Your Business Using Our World Class Online Marketing System.</h1>
            <iframe class="topvsl" src="https://player.vimeo.com/video/305430217?title=0&amp;byline=0&amp;portrait=0" width="455.6" height="256.27" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid0"></iframe>
            <p class="intro">
                As online marketing experts, we’ve spent COUNTLESS Hours doing one thing and one thing only: generating more SALES & LEADS online for our customers. We want to utilize the full extent of our experience and expertise to 10X your business. 
            </p>
            <a href="#"><span id="ctaone">FREE MARKETING ASSESSMENT</span></a>
        </header>
        <main class="">
            <div class="blockone">
                <img class="assessmentimg" src="../static/images/assessment.png" alt="Free Marketing Assessment">
                <p>You’re probably wondering: What is the online marketing assessment you’re offering?</p>
                <p>We’re glad you asked!</p>
                <p>If you're reading this, it’s because you know full well that online marketing is the most effective way to grow your revenue today.</p>
                <p class="clear">We’re here to provide you with a powerful, free custom marketing funnel strategy & blueprint uniquely tailored to your business, so you get more leads and skyrocket your conversions!</p>
                <p class="cleartwo">If you’re truly interested in learning how to get more traffic, leads, and profits without having to shell tens of thousands of dollars for consulting – you’re at the right place!</p>
                You are literally standing at a doorstep to a new chapter in your business.</p>
                <p id="warning">Before you do, let me give you a first of warning:</p>
                <p>Maybe you SHOULD NOT get this assessment. It’s not for ALL businesses.</p>
                <p>In fact, this assessment will work for ONLY 2 types of businesses:</p>
                <p>1.) Businesses DETERMINED to reach a NEW level of Growth and SUCCESS</p>
                <p>2.) Businesses DISSATISFIED with their CURRENT results and DEDICATED to getting a whole new level of conversions and leads!</p>
                <p>If the above does not apply to your business, please click the X button in the upper right corner right now as we will not be able to invest our time in helping you.</p>
                <p>However if you feel your business falls among the two types described, then…</p>
                <a href="#"><span id="ctatwo">Request a FREE Marketing Assessment from us TODAY!</span></a>
            </div>
            <div class="blocktwo">
                <h2>Areas Of Expertise</h2>
                <hr style="width: 70%">
                <ul class="skills">
                    <li>
                        <img class="expertiseimg" src="../static/images/websiteoptimization.png" alt="Website Optimization">
                        <p>
                            Empower your company’s results with a powerful web presence that will easily 
                            drive leads and get you the results you’re after. We utilize solely the most 
                            innovative, cutting-edge solutions in order to provide you with a stable, functional, 
                            consistent website that will deliver amazing results every single month. 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/salesfunnel.png" alt="Sales Funnel">
                        <p>
                            Our premium sales funnels are uniquely tailored to one single purpose: providing 
                            you with next-level results in the most efficient manner. Utilize the tremendous 
                            power of highly optimized landing pages, converting emails, retargeting ads and 
                            build a powerful system that gets consistent results! All you have to do is sit back & 
                            relax while our experts build everything for you! 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/socialmediacontent.png" alt="Social Media Content">
                        <p>
                            The marketplace demands you to be everything: a publisher, conversion driver and 
                            marketer – all at the same time. Instead of shunning away from this reality, we 
                            embrace it to your success and provide you with the insights, execution and 
                            operations required for successful marketing across the entire spectrum of today’s 
                            media channels. 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/socialmediaadvertising.png" alt="Social Media Advertising">
                        <p>
                            We pride ourselves with providing a comprehensive suite of Facebook,Instagram 
                            and YouTube advertising and management services. Whatever you type of 
                            business may be, we have a powerful solution for you! 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/ecommerce.png" alt="Ecommerce">
                        <p>
                            Are you selling online? Not without an 
                            ecommerce store you don’t! We’ve built ecommerce stores that generate millions online. Our ecommerce stores are built to
                            convert. Let us build one for you!
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/googleads.png" alt="Google Ads (PPC)">
                        <p>
                            Using Google’s search ads, we’re able to specifically target people who are looking 
                            for exactly what you have to offer them. After doing the keyword research for your 
                            business we create a compelling copy, select the best keywords and set optimal 
                            bids for your ads campaigns. 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/searchengineoptimization.png" alt="Search Engine Optimization">
                        <p>
                            When it comes to Organic SEO, no one does it better than us. Whether you want to 
                            increase your rankings locally or globally, we’ll make sure your business is a 
                            positioned in a way your customer’s can easily find you! 
                        </p>
                    </li>
                    <li>
                        <img class="expertiseimg" src="../static/images/retargeting.png" alt="Retargeting Campaigns">
                        <p>
                            If someone visits your website, you can tailor the delivery of your ads to them 
                            based on the pages they viewed on your site and how long they were on each 
                            page. If you have a video to use as an ad, you can retarget them based on what 
                            point they stopped watching the video. This makes the process of making the 
                            videos fully tailored to your audience efficient and simple.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="hurry">
                <p>Hurry & get EVERYTHING below today before it’s gone...</p>
                <ul class="hurryli">
                   <li>&#10004 A FREE Custom Social Media Audit – pinpoint the money-making potentials on your social media pages.</li>
                   <li>&#10004 Funnel Strategy – literally EVERYTHING you could possibly need to create a sales funnel that WORKS on your own.</li>
                   <li>&#10004 Powerful SEO Report</li>
                   <li>&#10004 Website Analytics</li>
                   <li>&#10004 LIMITED BONUS - Insanely Great Social Media Strategy & Blueprint For Your Business</li>
                </ul>
                <a href="#"><span id="ctathree">Request a FREE Marketing Assessment from us TODAY!</span></a>
            </div>
        </main>
        <footer>
            <img id="footerlogo" src="../static/images/logo.png" alt="E-Profit Inbound logo">
            <div class="footerlinklist">
                <a href="#" class="footerlink">Contact Us</a>
                <a href="#" class="footerlink">Refund Policy</a>
                <a href="#" class="footerlink">Privacy Policy</a>
                <a href="#" class="footerlink">Terms of Service</a>
            </div>
            <hr style="width: 70%">
            <p class="copyright">Copyright 2021, <a href="index.html">E-Profit Inbound</a></p>
            <ul>
                <li><a href="#" class="payment visa">Visa</a></li>
                <li><a href="#" class="payment mastercard">MasterCard</a></li>
                <li><a href="#" class="payment paypal">PayPal</a></li>
                <li><a href="#" class="payment amex">Amex</a></li>
            </ul>
            
        </footer>
    </body>
</html>

